@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.8;
}

.brand {
  font-family: 'Chango', cursive;
}
.banner-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/squats.jpg");
  height: 100vh; 
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.banner-content {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-fluid {
  background-image: url("../images/dark-gym.jpg");
  height: 200px;
  padding: 0 20%;
  background-position: center;
  background-size: cover;
}

.top-searched-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.filter-section {
  overflow-y: scroll;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.filter-section {
  display: none;
}

.minus-icon {
  display: none;
}

.show-filters .filter-section {
  display: block;
  /* transition-property: width; */
  transition-duration: 10s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.show-filters .minus-icon {
  display: inline;
}

.show-filters .plus-icon {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(73, 166, 223, 0.5);
  display: grid;
  place-items: center;
  transition: .5 ease;
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background-color: white;
  width: 50%;
  padding: 20px 8px;
}

#slideshow-section {
  text-align: center;
}

.slide > img {
  width: 60%;
  height: 60vh;
}

[data-component="slideshow"] .slide {
  display: none;
  transition: ease-in-out .3s;
}

[data-component="slideshow"] .slide.active {
  display: block;
  transition: display ase-in-out .3s;
}

.withBG {
  background-image: url("../images/dark-gym.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}



